In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...profit = revenue - budget
data['profit'] = data['revenue'] - data['budget']
data['release_month']=data['release_date'].apply(lambda x:x.split('/')[0]) # создаем столбец со значениями месяца релиза

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
data[['original_title','imdb_id']][data.budget == data.budget.max()]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
data[['original_title','imdb_id']][data.runtime == data.runtime.max()]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

In [67]:
answers['2'] = 'Gods and Generals (tt0279111)' #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data[['original_title','imdb_id']][data.runtime == data.runtime.min()]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [66]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

# 4. Какова средняя длительность фильмов?

In [64]:
round(data.runtime.mean())

110

In [65]:
answers['4'] = '110' #+

# 5. Каково медианное значение длительности фильмов?

In [11]:
data.runtime.median()

107.0

In [12]:
answers['5'] = '107.0' #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
data[['original_title','imdb_id','profit']][data.profit == data.profit.max()]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [14]:
answers['6'] = 'Avatar (tt0499549)' #+

# 7. Какой фильм самый убыточный?

In [15]:
data[['original_title','imdb_id','profit']][data.profit == data.profit.min()]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [16]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
data['original_title'][data.revenue > data.budget].count()

1478

In [18]:
answers['8'] = '1478' #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
data[['original_title','imdb_id','revenue']][data.release_year == 2008].sort_values('revenue', ascending=False).head(1)

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

In [20]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
data[['original_title','imdb_id','profit']][(data.release_year >= 2012) 
                                            & (data.release_year <= 2014)].sort_values('profit').head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [22]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+

# 11. Какого жанра фильмов больше всего?

In [23]:
sum_genres=pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
sum_genres.head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

Вариант 2

In [24]:
a = ''
for s in data['genres']:
    a = a + '|' + s
c = Counter()
for word in a.split('|'):
    c[word] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2, '': 1})

In [25]:
answers['11'] = 'Drama' #+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
sum_genres=pd.Series(data['genres'][data.profit > 0].str.cat(sep='|').split('|')).value_counts(ascending=False)
sum_genres.head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

In [27]:
answers['12'] = 'Drama' #+

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [28]:
directors = pd.Series(0, set(data['director'].str.cat(sep='|').split('|'))) 

for director in directors.index:
    directors[director] = data[data.director.str.contains(director)].revenue.sum()
    
directors.sort_values(ascending=False).head()

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

Вариант 2

In [29]:
directors = pd.Series(0, set(data['director'].str.cat(sep='|').split('|')))

for direc in directors.index:
    directors[direc] = data['revenue'][data['director'].map(lambda x: True if direc in x else False)].sum()

directors.sort_values(ascending=False).head()

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

In [30]:
answers['13'] = 'Peter Jackson' #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
pd.Series(data['director'][data.genres.str.contains('Action')].str.cat(sep='|').split('|')).value_counts().head()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

In [32]:
answers['14'] = 'Robert Rodriguez' #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
actors_list = set(data['cast'][data.release_year == 2012].str.cat(sep='|').split('|')) # создаем список актеров из фильмов за 2012 год
a = {}
data2012 = data[data.release_year == 2012]
for act in actors_list:
    a[act] = data2012[data2012.cast.str.contains(act)].revenue.sum()

pd.Series(a).sort_values(ascending=False).head()

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
dtype: int64

Вариант 2

In [34]:
data2012 = data[['cast', 'revenue']][data.release_year == 2012]
actors_2012 = pd.Series(0, set(data['cast'][data.release_year == 2012].str.cat(sep='|').split('|')))

for actor in actors_2012.index:
    actors_2012[actor] = data2012[data2012.cast.str.contains(actor)].revenue.sum()

actors_2012.sort_values(ascending=False).head()

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
dtype: int64

In [35]:
answers['15'] = 'Chris Hemsworth' #+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
pd.Series(data[data.budget > data.budget.mean()]['cast'].str.cat(sep='|').split('|')).value_counts().head()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
dtype: int64

In [37]:
answers['16'] = 'Matt Damon' #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
pd.Series(data[data.cast.str.contains('Nicolas Cage')]['genres'].str.cat(sep='|').split('|')).value_counts().head()

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
dtype: int64

In [39]:
answers['17'] = 'Action' #+

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
data[['original_title', 'imdb_id', 'profit']][data.production_companies.str.contains('Paramount Pictures')].sort_values('profit').head(1)

           original_title    imdb_id    profit
925  K-19: The Widowmaker  tt0267626 -64831034

In [41]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [43]:
answers['19'] = '2015' #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values(ascending=False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

In [45]:
answers['20'] = '2014' #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
data.groupby('release_month').imdb_id.count().sort_values(ascending=False).head()

release_month
9     227
12    190
10    186
8     161
3     156
Name: imdb_id, dtype: int64

In [47]:
answers['21'] = '9' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
data.query('release_month in ["6","7","8"]').imdb_id.count()

450

In [49]:
answers['22'] = '450' #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
data_winter = data.query('release_month in ["1","2","12"]')
directors = pd.Series(0, set(data['director'].str.cat(sep='|').split('|')))

for direc in set(data['director'].str.cat(sep='|').split('|')):
    directors[direc] = data_winter[data_winter.director.str.contains(direc)].release_month.count()

directors.sort_values(ascending=False).head()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
dtype: int64

In [51]:
answers['23'] = 'Peter Jackson' #+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
prod_comp = pd.Series(0, set(data['production_companies'].str.cat(sep='|').split('|')))

for comp in prod_comp.index:
    prod_comp[comp] = data[data.production_companies.str.contains(comp)]['original_title'].str.len().mean()

prod_comp.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
dtype: float64

In [55]:
answers['24'] = 'Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
prod_comp = pd.Series(0, set(data['production_companies'].str.cat(sep='|').split('|')))

for comp in prod_comp.index:
    prod_comp[comp] = data[data.production_companies.str.contains(comp)]['overview'].apply(lambda x: len(str(x).split(' '))).mean()

prod_comp.sort_values(ascending=False).head()

Midnight Picture Show               175.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

In [57]:
answers['25'] = 'Midnight Picture Show' #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
data_best = data.sort_values('vote_average', ascending=False)
answers['26'] = list(data_best[:round(len(data_best)*0.01)]['original_title'])

In [59]:
answers['26'] #+

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars',
 'The Lord of the Rings: The Two Towers']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
data['list_of_actors'] = data['cast'].str.split('|') # создаем столбец, знаение в котором список актеров
a = {}

for i in data['list_of_actors']:
    for j in list(combinations(i, 2)): # создаем возможные комбинации пар актеров в каждом фильме и добавляем в словарь
        if j in a:
            a[j] += 1
        else:
            a[j] = 1
            
pd.Series(a).sort_values(ascending=False).head()

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
dtype: int64

In [61]:
answers['27'] = 'Daniel Radcliffe  Emma Watson, Daniel Radcliffe Rupert Grint' #+

ВАРИАНТ 2

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Interstellar',
  'The Imitation Game',
  'Inside Out',
  'Room',
  'The Wolf of Wall Street',
  'Gone Girl',
  '12 Years a Slave',
  'Guardians of the Galaxy',
  'The Lord of the Rings: The Return of the King',
  'Memento',
  'Inception',
  'The Pianist',
  'The Grand Budapest Hotel',
  'Her',
  'Spotlight',
  'Big Hero 6',
  'The Fault in Our Stars',
  'The Lord of the Rings: The Two Towers'],
 '27': 'Daniel Radcliffe  Emma Watson, Daniel Radcliffe Rupert Grint',
 '4': '110'}

In [69]:
# и убедиться что ни чего не пропустил)
len(answers)

27